<%- include('partials/header') %>

<div class="wrapper" style="position: relative;">
  <%- include('partials/nav') %>
  <!-- Left side column. contains the logo and sidebar -->
  <%- include('partials/sidebar') %>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manejo de clientes
      </h1>
      <h6><?=new Date()?>,</h6>
      <a
        href="https://script.google.com/macros/s/AKfycby7MrKJqbO1sFCoedZH4AC7b1Rjr83Wtc3Gjua3mLi-/dev?v=clientcreate"
        style="margin: 30px 2px 5px 16px;"
        class="btn btn-sm btn-info btn-flat pull-left"
        >Nuevo Cliente</a
      >
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Button -->

      <?!=include('FormModal');?>

      <!-- TABLE: LATEST ORDERS -->

      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Clentes</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Actiones</th>
                  </tr>
                </thead>

                <tbody>
                  <?data=getAllClients().reverse();?>
                  <? for(i=0; i<data.length-1; i++) {?>
                  <tr>
                    <td><a href="#">OR9842</a></td>
                    <td><?=data[i][0]?></td>
                    <td>
                      <span> <?=data[i][1]?></span>
                    </td>
                    <td>
                      <span><?=data[i][2]?></span>
                    </td>

                    <td>
                      <span class="label label-warning"><?=data[i][3]?></span>
                    </td>
                  </tr>
                  <? }?>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix"></div>
          <!-- /.box-footer -->
        </div>
      </div>
      <!-- /.col -->

      <!-- /.row -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<%- include('partials/footer') %>
</div>