
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2019-2020 <a href="https://vavalwadson.com"> Wadson Vaval </a>.</strong> All rights
    reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Bootstrap 3.3.7 -->
<script src="/js/bootstrap.js"></script>
<!-- AdminLTE App -->
 <script src="/js/admin.js"></script>

<!-- ChartJS -->
<script src="/js/chart.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->

 <script src="/js/demo.js"></script>
</body>
</html>