<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Adding react and React dom-->
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
    ></script>
    <!-- Adding Babel Stand alone -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <title>Create invoice</title>

    <!-- Adding bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- adding font Awesome-->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- adding axios-->
    <link
      href=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      .border-dotted {
        border-style: dotted;
      }
    </style>
  </head>

  <body>
    <a href="/invoices">
      <i className="fa fa-arrow-left"></i>
      Facturas
    </a>

    
    <% clients.forEach(function(client){%>
<div class='clients' data-myData='<%=client %>'> </div>
<%})%>


    <script type="text/javascript">
     var myclients = '<%- JSON.stringify(clients) %>';
     var myservices = '<%- JSON.stringify(services) %>';
     var mycomp = '<%- JSON.stringify(comprobantes) %>';

     const getData= async (data)=> {
       try{
     var c =await  axios.get(`http://localhost:4000/api/${data}`)
   while(c.status!=200);
   const data= []; 
   c.data.forEach(function (dt){
     data.push(dt)
   })
   console.log(data)
     return data; 
       }catch(err){}
    }
 
    </script>

    <script type="text/babel" src="../js/reactLogic.js"></script>

    <div id="root"></div>
  </body>
</html>
